.newTaskForm{
  .newTaskField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 0;
  
    .taskTitle {
      font-size: 1rem;
      font-weight: 400;
    }
  
    .inputTaskName{
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      border: 1px solid rgba(215, 221, 233, 1);
    }

    .inputError {
      color: red;
      font-size: 0.75rem;
    }
  
  }
  .newTaskButtons {
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1020px) {
  .newTaskButtons {
    flex-direction: column-reverse;
  }
}